<div class="table-responsive">
  <span *ngIf="!results">
    Loading...
  </span>

  <table class="table table-hover" *ngIf="results">
    <thead>
      <ng-container *ngTemplateOutlet="headerTemplate; context: {$implicit: columns}"></ng-container>
    </thead>
    <tbody>
      <ng-container *ngFor="let swap of results">
        <ng-container *ngTemplateOutlet="bodyTemplate; context: {$implicit: swap}"></ng-container>
      </ng-container>
    </tbody>
  </table>
  <paginator [totalRecords]="totalCount" [rows]="pageSize" (onPageChange)="pageChanged($event)">
  </paginator>
</div>
