<h1>Swap Listings</h1>

<div class="row">

  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">

        <div style="float: right">
          <!-- TODO: Name/Type filtering -->
        </div>

        <simple-table [serverResponse]="results" [headerTemplate]="swapHeaderTemplate" [bodyTemplate]="swapBodyTemplate" (onPageChange)="pageChanged($event)">
          <ng-template #swapHeaderTemplate>
            <tr>
              <th>Type</th>
              <th>Asset</th>
              <th>Quantity</th>
              <th>Unit Price</th>
              <th>Total Price</th>
              <th>Details</th>
            </tr>
          </ng-template>
          <ng-template #swapBodyTemplate let-swap>
            <ng-container [ngSwitch]="swap.orderType">
              <tr *ngSwitchCase="SwapType.Buy">
                <td>{{ SwapType[swap.orderType] }}</td>
                <td><a [routerLink]="['/asset', swap.outType]">{{ swap.outType }}</a></td>
                <td>{{ swap.outQuantity }}</td>
                <td>{{ swap.unitPrice }} RVN</td>
                <td>{{ swap.inQuantity }} RVN</td>
                <td><a href="" (click)="showDetails($event, swap); false">Details + Hex</a></td>
              </tr>
              <tr *ngSwitchCase="SwapType.Sell">
                <td>{{ SwapType[swap.orderType] }}</td>
                <td><a [routerLink]="['/asset', swap.inType]">{{ swap.inType }}</a></td>
                <td>{{ swap.inQuantity }}</td>
                <td>{{ swap.unitPrice }} RVN</td>
                <td>{{ swap.outQuantity }} RVN</td>
                <td><a href="" (click)="showDetails($event, swap); false">Details + Hex</a></td>
              </tr>
              <tr *ngSwitchCase="SwapType.Trade">
                <td>{{ SwapType[swap.orderType] }}</td>
                <td><a [routerLink]="['/asset', swap.outType]">{{ swap.outType }}</a></td>
                <td>{{ swap.outQuantity }}</td>
                <td>{{ swap.unitPrice }} {{ swap.inType }}</td>
                <td>{{ swap.inQuantity }} {{ swap.inType }}</td>
                <td><a href="" (click)="showDetails($event, swap); false">Details + Hex</a></td>
              </tr>
            </ng-container>
          </ng-template>
        </simple-table>
      </div>
    </div>
  </div>

</div>

